{% extends "website/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static "css/positions_list.css" %}">
{% endblock %}
{% include "includes/sidebar.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="career-search mb-60">
          <div class="filter-result">
            <h1 class="mb-30 ff-montserrat">Total positions: {{ total_positions_count }} <a
                href="{% url "website:position-create" %}"><strong>+</strong></a></h1>
            <form action="" method="get" class="form-inline">
              {{ search_form|crispy }}
              <input class="btn btn-primary" type="submit" value="Search">
            </form>
            {% if position_list %}
              {% for position in position_list %}
                <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                  <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                    <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                      {{ position.id }}
                    </div>
                    <div class="job-content">
                      <h5 class="text-center text-md-left">{{ position.name }}</h5>
                      <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                        <li class="mr-md-4">
                          <i class="zmdi zmdi-pin mr-2"></i> Los Angeles
                        </li>
                        <li class="mr-md-4">
                          <i class="zmdi zmdi-money mr-2"></i> 2500-3500/pm
                        </li>
                        <li class="mr-md-4">
                          <i class="zmdi zmdi-time mr-2"></i> Full Time
                        </li>
                        <li class="ml-auto">
                          <a class="btn btn-primary ml-5 mr-2"
                             href="{% url 'website:position-update' pk=position.id %}">update</a>
                        </li>
                        <li class="ml-auto">
                          <a class="btn btn-secondary mr-2" href="{% url 'website:position-detail' pk=position.id %}">details</a>
                        </li>
                        <li class="ml-auto">
                          <a class="btn btn-danger mr-2" href="{% url 'website:position-delete' pk=position.id %}">delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}